body {
    font-family: 'Abel', sans-serif;
    background-color: black;
    background-image: url("paper.gif");
}
.six {
       height: 400px;
}
.illst {
    position: absolute;
}
.profile {
    display: flex;
    justify-content: center;
    position: relative;
}
.profile-img {
    width: 180px;
    height: 250px;
    border: 3px solid plum;
    border-radius: 10px;
    margin-right: 30px;
    opacity: 80%;

}
.profile-txt {
    width: 350px;
    height: 350px;
    text-align: center;
    border: 3px solid plum;
    border-radius: 10px;
    margin-right: 30px;
    color: black;
    background-color: plum;
    opacity: 70%;
}
.skills {
    width: 400px;
    height: 500px;
    border: 3px solid plum;
    border-radius: 10px;
    text-align: center;
    background-color: plum;
    opacity: 70%;
}
.HTML {
    width: 350px;
    height: 50px;
    border: 3px solid orange;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: white;
    background-color: orange;
}
.html {
    width: 100px;
    height: 50px;
}
.CSS {
    width: 350px;
    height: 50px;
    border: 3px solid red;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    color: white;
    background-color: red;
}
.css {
    width: 100px;
    height: 50px;
}
.Azure {
    width: 350px;
    height: 50px;
    border: 3px solid skyblue;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    color: white;
    background-color: skyblue;
}
.azure {
    width: 100px;
    height: 50px;
}
.PHP {
    width: 350px;
    height: 50px;
    border: 3px solid blue;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    color: white;
    background-color: blue;
}
.php {
    width: 100px;
    height: 50px;
}
.JS {
    width: 350px;
    height: 50px;
    border: 3px solid green;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    color: white;
    background-color: green;
}
.js {
    width: 100px;
    height: 50px;
}

@media only screen and  (max-width:600px){
    .profile {
        display: block;
        align-items: center;
        align-self: center;
    }
    .profile-img,.profile-txt,.skills {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .profile-img {
        margin-left: 200px;
    }
    .six {
        background-size: cover;
    }
}

@media only screen and  (max-width: 375px){
    .profile {
        display: block;
        align-items: center;
        align-self: center;
    }
    .profile-img {
        margin-left: 100px;
    }
    .profile-txt {
        margin-left: 5px;
    }
    .skills {
        width: 350px;
        margin-left: 5px;
    }
    .HTML,.CSS,.Azure,.PHP,.JS {
        width: 300px;
    }

}